<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "user.css" %>
  </head>

  <body>
    <section class="row wrap user-heading">
      <%= render partial: "shared/user", locals: { user: @user} %>
    </section>

    <section class="column borded bio">
      <h2>Bio</h2>
      <p><%= @user.bio %></p>
    </section>

    <div class="flex-center column">
      <ul class="no-style max-width">
        <% @posts.each do |post| %>
          <li>
            <a href=<%= "/users/#{@user.id}/posts/#{post.id}" %> class="no-style">
              <%= render partial: "shared/post", locals: { post: post} %>
            </a>
          </li>
        <% end %>
      </ul>
      <button class="btn-show-post">
        <a href=<%= "/users/#{@user.id}/posts"%>
        class="no-style" id="btn-show-posts">See All Posts</a>
      </button>
      <button class="btn-show-post">
        <a href=<%= "/users/#{@user.id}/posts/new"%>
        class="no-style">Create A Posts</a>
      </button>
      <button class="btn-show-post">
        <a href=<%= "/users" %> 
        class="no-style"> Back
        </a>
      </button>
      
    </div>
  </body>
</html>
