<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "post" %>
  </head>

  <body>
    <section class="row wrap user-heading">
      <%= render partial: "shared/user", locals: { user: @user } %>
    </section>

    <section class="flex-center column">
      <ul class="max-width list-post">
        <% @posts.each do |post| %>
          <li class="column max-width">
            <a href=<%= "/users/#{@user.id}/posts/#{post.id}" %> class="no-style max-width">
              <%= render partial: "shared/post", locals: { post: post }  %>
              <ul class="no-style list-comment borded">
                <% post.recent_comment.each do |comment| %>
                  <li>
                    <%= render partial: "shared/comment", locals: { user: @user, comment: comment}  %>
                  </li>
                <% end %>
              </ul>
            </a>
          </li>
        <% end %>

      </ul>
      <a href=<%= "/users/#{@user.id}" %> >
        <button class="btn-show-post">Back</button>
      </a>
      <button class="btn-show-post">
        <a href=<%= "/users/#{@user.id}/posts/new"%>
        class="no-style">Create A Posts</a>
      </button>
    </section>
  </body>
</html>
