<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "post" %>
  </head>

  <body>
    <%= flash_error %>
    <%= flash_success %>
    <section class="borded">
      <div class="row wrap post-heading">
        <div class="row wrap post-subheading">
          <h2>Post #<%= @post.id %></h2>
          <p>by <%= @user.name %></p>
        </div>
        <div class="row btns-post">
          <p>Comments: <%= @post.comments_count %></p>
          <p>Likes: <%= @post.likes_count %></p>
        </div>
      </div>
      <p><%= @post.text %></p>
      <%= form_with model: Like.new, local: true, url: "/users/#{@user.id}/posts/#{@post.id}/add_like", 
        html: {class: "row"} do |f| %>
        <%= f.submit "Like" %>
      <% end %>
    </section>
    <section class="borded">
      <ul class="no-style list-comment">
        <% @comments.each do |comment| %>
          <li>
            <%= render partial: "shared/comment", locals: { user: User.find(comment.author_id), comment: comment}  %>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="borded flex-center">
      <%= render partial: "posts/form_new_comment" %>
    </section>
  </body>
</html>
